<div class="card">
  <div class="card-header bg-primary text-white">{{ title }}</div>
  <div class="card-block">
    <div class="table-responsive" *ngIf="products && products.length">
      <form class="form mt-3">
        <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right" for="filterDesc"
            >Filtro:</label
          >
          <div class="col-sm-5">
            <input
              type="text"
              [(ngModel)]="filterSearch"
              class="form-control"
              name="filterDesc"
              id="filterDesc"
              placeholder="Filter..."
            />
          </div>
          <label class="col-form-label col-sm-5">
            Filtrando por: {{ filterSearch }}</label
          >
        </div>
      </form>
      <table class="table table-striped">
        <!-- Esta parte muestra las cabezeras de la tabla -->
        <thead>
          <tr>
            <th>
              <button
                [ngClass]="{
                  'btn-primary': showImage,
                  'btn-danger': !showImage
                }"
                (click)="toggleImage()"
              >
                {{ showImage ? "Ocultar" : "Mostrar" }} imagen
              </button>
            </th>
            <th>{{ headers.description }}</th>
            <th>{{ headers.price }}</th>
            <th>{{ headers.available }}</th>
          </tr>
        </thead>
        <!-- Esta parte muestra la inforamción del producto -->
        <tbody>
          <tr *ngFor="let product of products | productFilter:filterSearch">
            <td>
              <img
                [src]="product.imageUrl"
                width="100"
                alt=""
                *ngIf="showImage" [title]="product.description | uppercase"
              />
            </td>
            <td>{{ product.description }}</td>
            <td>{{product.price | currency:'EUR':'symbol'}}</td>
            <td>{{ product.available | date:'dd/MM/YYYY'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
