td {
  vertical-align: middle;
}

td:first-child img {
  height: 100px;
}

div:first-child img {
  height: 40px;
}

div:not(:first-child) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headers {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}
product-item:nth-child(odd) {
  background: #eee;
}
